apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  DB_NAME: bGVhcm5pbmdfcGxhdGZvcm0= # learning_platform
  DB_USER: YWRtaW4= # admin
  DB_PASSWORD: YWRtaW4xMjM= # admin123

---

